[submodule "desktop/dependencies/glfw"]
	path = platforms/desktop/dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "web/dependencies/emsdk"]
	path = platforms/web/dependencies/emsdk
	url = https://github.com/emscripten-core/emsdk.git
